.btn {
    background: #F5170E;
    border: 0;
    border-radius: 35px;
    padding: 18px 41px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.btn--color {
    border: 1px solid;
    background-color: #fff;
    color: #F5170E;
    border-color: #F5170E;
}

.btn__hot {
    background: #F5170E;
    border: 0;
    border-radius: 35px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    display: inline-block;
    padding: 18px 28px;
}

.btn--theme-common {
    border: 1px solid;
    background-color: #fff;
    color: #F5170E;
    border-color: #F5170E;

}

.btn--color--black{
    background: #2B2B2B;
}
.btn__enter:hover{
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    transition: 0.3s;
}
.promo__details:hover {
    background: #DA0100;
    transition: 0.3s;
}
.btn__hot:hover{
    border: 1px solid;
    background-color: #F5170E;
    color: #fff;
    border-color: #F5170E;
    transition: 0.3s;
}
.btn--color--black:hover{
    background: #8E8E8E;
    transition: 0.3s;
}