.dropdown__menu{
position: absolute;
width: 160px;
height: 80px;
left: 1370px;
top: 100%;
background: #EDEDED;
mix-blend-mode: normal;
opacity: 0.5;
display: none;
}
.dropdown:hover .dropdown__menu{
display: block;
}