.hot-tours {
    margin-bottom: 127px;
}

.hot-tours__header {
    display: flex;
    margin-bottom: 49px;
}

.hot-tours__main-title {
    font-weight: bold;
    font-size: 36px;
    margin-right: 12px;

}

.hot-tours__info {
    display: flex;
    justify-content: space-between;
}

.hot-tours__title-icon {
    width: 21px;
    height: 28px;

}

.hot-tours__list {
    display: flex;
    justify-content: space-between;
}

.hot-tours__item {
    min-height: 305px;
    width: 32%;
    background: #fff;
    border-radius: 5px;
}

.hot-tours__item:last-child {
    margin-right: 0;
}

.hot-tours__cover {
    height: 144px;
    overflow: hidden;
}

.hot-tours__cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hot-tours__content {
    padding: 42px 22px 26px;
}

.hot-tours__card-title {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-bottom: 18px;
    line-height: 33px;
}

.hot-tours__info {
    color: #666666;
    margin-bottom: 20px;
}

.hot-tours__item-info {
    display: flex;
    align-items: center;
}

.hot-tours__info-cover {

    vertical-align: middle;
    margin-left: 17px;
}

.hot-tours__info-text {
    width: 90px;
    font-weight: normal;
    font-size: 16px;

}

.hot-tours__description {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    margin-bottom: 23px;
}

.hot-tours__button {
    display: flex;
    justify-content: flex-start;
}