.inner-section {
    background: #F4F5F5;
    color: #1A1B1E;
    /* padding: 60px 0 59px ; */
}

.inner-section--bg--grey {

    padding-bottom: 96px;
}

.inner-section__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    padding-top: 85px;
}

.inner-section__title-review {
    padding-top: 45px;
    padding-bottom: 60px;
}

/* Мне показалось, что стили ниже можно расположить здесь, а не создавать новый файл :3 */
.page-content--inner {
    background: #FFF;
    color: #303030;
    padding: 105px 0 96px;
}