.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 67px;
    margin-bottom: 58px;

}

.partners__item {
    margin-left: 40px;
    margin-bottom: 30px;
}

.partners__item:nth-child(4n+1) {
    margin-left: 0;
}

.partners__link {
    display: flex;
    min-width: 222px;
    height: 100px;
    align-items: center;
    filter: grayscale(1);
    transition: filter 0.3s ease-out;
}
.partners__link:hover{
    filter: grayscale(0)
}

.partners__link:nth-child(4n+1) {
    justify-content: flex-start;
}